@import '../../index';

.feature-card {
  text-align: center;
}

.feature-title {
  font-family: $secondary-font-fam;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.feature-image {
  height: 80px;
  width: 80px;
  object-fit: contain;
}
